.PublicProfile-wrap {
  width: 80%;
  margin: auto;
}

.ProfileDetails {
  width: auto;
  margin: auto;
}

.TextField {
  margin-top: 20px;
  padding: 10px;
  min-height: 250px;
  width: 50%;
  float: left;
}

.Header-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.AdvisorLabels {
  float: right;
}

.AdvisorImage {
  float: left;
}

.Calender {
  padding-top: 20px;
  margin: auto;
  display: flex;
  justify-content: center;
}
