.PublicProfile-wrap {
  width: 95%;
  margin: 20px auto;
}

.ProfileDetails {
  width: auto;
  margin: auto;
  padding: 80px;
}

.TextField {
  padding: 10px;
  min-height: 340px;
  width: 55%;
  float: left;
}

.MsgField {
  margin-top: 30px;
  padding: 10px;
  border: 1px solid #c8c8c8;
  border-radius: 10px;
}

.Header-wrap {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.AdvisorLabels {
  float: right;
  margin-left: 30px;
}

.AdvisorImage {
  float: left;
}

.Calender {
  width: 40%;
  padding-top: 20px;
  float: right;
}
