.signup-paper {
    margin: 2em auto;
    width: 500px;
    padding: 40px;
}

.left-inline {
    width:200px!important;
}
.right-inline {
    margin-left: 20px;
    width:200px!important;
}

.Checkbox {
    padding: 1em 0;
    width:54%!important;
}


