
.gridlist-signin {
    background: url(/images/ship-bg.png) no-repeat center center;
    background-size: 100%;
    padding: 10em 5em 4em 5em;
}

.gridlist-creators {
    padding: 2em 5em 2em 5em;
}

.gridlist-advisors {
    padding: 2em 5em 4em 5em;
}

.gridtile-signin {
    padding: 0 5em;
    text-align: center;
}

.gridtile-signin:first-child {
    padding-left:5em!important;
}
.gridtile-signin img {
    display: block;
    margin: 0 auto;
    width:96px;
}
.signin-paper {
    margin: 0 auto;
    padding: 40px;
    width:400px;
}

.signin-paper form {
    margin-bottom:1em;
}