
.gridlist-signin {
    background: url(/images/ship-bg.png) no-repeat center center;
    background-size: 100%;
    padding-bottom: 10em;
    padding-left:5em;
}

.gridlist-creators {
    padding: 5em;
}

.gridlist-advisors {
    padding: 5em;
}

.gridtile-signin {
    padding: 2.5em;
    text-align: center;
    font-size: 1.25em;
}

.gridtile-signin.landing-text {
    padding-top:10em;
}
.logo-big { 
    width: 66%!important;
    display:block;
}

.icons {
    display: block;
    margin: 0 auto;
    width:96px;
}
.signin-paper {
    margin: 25% auto;
    padding: 40px;
    width:400px;
}

.signin-paper form {
    margin-bottom:1em;
}
.ip-share {
    width:100%;
  }
  
.spacer {
    height:4em;
}