

.appbar-custom {
    background-color: #ffffff!important;
    border-bottom: 2px solid #F44336!important;
    position: fixed!important;
    top: 0!important;
    }

.appbar-custom .logo {
        height:48px;
        position: relative;
        top:8px;
        
}
.appbar-custom .brand {
    color: #F44336!important;
    font-family: boltssf;
    position: relative;
    font-size: 1.1em;
    top:-8px;
}

.flat-button {
    color: #F44336!important;
}