.appbar-custom {
    background-color: #ffffff!important;
    border-bottom: 2px solid #F44336!important;
    }

.appbar-custom h1 {
    color: #F44336!important;
    
}

.flat-button {
    color: #F44336!important;
}