html {
  font-size: 18px;
}
@font-face {
  font-family: 'Bolts';
  src: url(./fonts/bolts.otf);
}
@font-face {
  font-family: 'Franklin';
  src: url(./fonts/franklin.ttf);
}
.dv-star-rating-star {
  font-size: 25px;
}
.bg {
  background-size: 100%;
  padding: 10px;
}
img {
  width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  color: #323232;
}
