
@font-face {
  font-family: boltssf;
  src: url(./fonts/boltssf.ttf)
 }

 @font-face {
  font-family: franklin;
  src: url(./fonts/franklingothicmediumregular.ttf)
 }

body {
  margin: 0;
  padding: 0;
  font-family: franklin;
}